rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /videos/{document=**} {
      function isSignedIn() {
        return request.auth != null;
      }

      function getRole(role) {
        return request.auth.token.role == role;
      }
      // function isOneOfRoles(rsc, array) {
        
        // return isSignedIn() && (getRole(rsc) in array);
      // }

      // allow write: if isOneOfRoles(resource, ['admin']);
      allow read: if isSignedIn() && getRole('admin');
      allow write: if isSignedIn() && getRole('admin');
    }
    match /creator/{document=**} {
      function isSignedIn() {
        return request.auth != null;
      }

      function getRole(role) {
        return request.auth.token.role == role;
      }
      // function isOneOfRoles(rsc, array) {
        
        // return isSignedIn() && (getRole(rsc) in array);
      // }

      // allow write: if isOneOfRoles(resource, ['admin']);
      allow read: if isSignedIn() && getRole('admin');
      allow write: if isSignedIn() && getRole('admin');
    }
  }
}